@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 14px;
}

.direction-rtl {
    direction: rtl;
}

.animate-drain {
    animation-name: drain;
    animation-duration: attr(data-duration number, 5000) 'ms';
}

@keyframes drain {
    0% {
        width: 100%
    }
    100% {
        width: 0
    }
}

/* Loader Autentication Guard */
#loadingScreen {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#loadingScreen div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    opacity: .6;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loadingScreen div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

#loadingScreen div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loadingScreen div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loadingScreen div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
